# Install Airflow first with constraints
apache-airflow==2.9.2 --constraint "https://raw.githubusercontent.com/apache/airflow/constraints-2.9.2/constraints-3.12.txt"

# my libs 
allure-pytest==2.14.3
allure-python-commons==2.14.3
cachetools==5.5.0
certifi==2024.8.30
charset-normalizer==3.3.2
colorama==0.4.6
customtkinter==5.2.2
darkdetect==0.8.0
distlib==0.3.9
flake8==7.3.0
google-auth==2.40.3
google-auth-oauthlib==1.2.2
greenlet==3.2.2
gspread==6.2.1
idna==3.10
iniconfig==2.1.0
mccabe==0.7.0
numpy==2.3.1
oauthlib==3.3.1
packaging==25.0
pandas==2.2.3
pluggy==1.6.0
psycopg2==2.9.10
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycodestyle==2.14.0
pyflakes==3.4.0
Pygments==2.19.2
pytest==8.4.1
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.32.4
requests-oauthlib==2.0.0
rsa==4.9.1
setuptools==80.9.0
six==1.17.0
SQLAlchemy==1.4.49
typing_extensions==4.13.2
tzdata==2025.2
urllib3==2.5.0
pendulum==3.0.0
